<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IIS URL Rewrite Module Configuration -->
    <rewrite>
      <rules>
        <rule name="Handle Node.js" stopProcessing="true">
          <match url="^(?!\\.)(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Node.js Site Extension -->
    <webSocket enabled="false" />
    
    <!-- Application Settings -->
    <appSettings>
      <add key="NODE_ENV" value="production" />
    </appSettings>

    <!-- Handlers for Node.js -->
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Logging -->
    <logging>
      <failedRequestTracing>
        <failedRequestFilters>
          <add path="*">
            <failureDefinitions timeTaken="30000" statusCodes="400-599" verbosity="Verbose" />
          </failureDefinitions>
        </failureDefinitions>
      </failedRequestTracing>
    </logging>
  </system.webServer>

  <!-- iisnode Configuration -->
  <iisnode 
    nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;"
    interceptor="&quot;%ProgramFiles%\iisnode\interceptor.js&quot;"
    loggingEnabled="true"
    logDirectory="iisnode"
    watchedFiles="web.config;*.js"
    maxConcurrentRequestsPerProcess="1024"
    maxNamedPipeConnectionRetry="3"
    namedPipeConnectionRetryDelay="250"
    maxNamedPipeConnectionPoolSize="512"
    maxNamedPipePoolSize="512"
    asyncCompletionThreadCount="0"
    initialRequestBufferSize="4096"
    maxRequestBufferSize="65536"
    uncFileChangesPollingInterval="5000"
    gracefulShutdownTimeout="60000"
    loggingEnabled="false"
    appendToExistingLog="false"
    logicalIdleTimeout="300000"
    physicalIdleTimeout="300000"
    maxLogFileSizeInKB="128"
    maxTotalLogFileSizeInKB="1024"
    maxLogFiles="20"
    devErrorsEnabled="true"
    flushResponse="false"
    enableXFF="false"
    promoteServerVarsToHeaders="true"
    configOverrides="iisnode.yml"
    />
</configuration>
